@if (platformId) {
  <div class="carousel swiper-container shadow-none my-8 h-auto md:!h-[550px] !mx-auto w-[95%] relative overflow-hidden rounded-lg">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let image of images">
        <img [src]="image.src" [alt]="image.alt" class="w-full h-auto rounded-lg shadow-md" />
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
}
<!-- <div class="w-full rounded-2xl overflow-hidden px-3">
  <p-galleria 
  [value]="images" 
  [numVisible]="5" 
  [circular]="true" 
  [showItemNavigators]="true" 
  [showThumbnails]="false" 
  [responsiveOptions]="responsiveOptions"
  [transitionInterval]="3000"
  [containerStyle]="{ 'max-width': '100%', 'border-radius': '1rem' , 'overflow': 'hidden' }"
  class="custom-galleria"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.itemImageSrc" class="w-full block max-h-[220px]  md:max-h-[600px]"/>

    <div class="absolute md:top-[20%] top-[5%] md:left-[10%] left-[2%]">
      <div class="mb-2 text-center bg-slate-50 h-auto py-2 w-auto px-4 rounded-md text-lg font-medium font-sans">
       <span>{{ item.country | translate }}</span>,  <span class="text-orange-500">{{ item.city | translate }}</span>
      </div>

      <div class=" w-2/3 md:w-auto bg-slate-100 rounded-md px-3 py-2 h-auto">
        <div class="text-slate-800 font-normal md:font-medium text-sm md:text-lg"> 
          {{'Total Flat Space' | translate}}
          <span class="ml-1 text-xl text-black"> 
            {{item.space}} <span class="-ml-1"> {{'m' | translate}}<sup>2</sup> </span>  
          </span> 
        </div>

        <div class="text-slate-800 hidden md:block font-normal md:font-medium text-sm md:text-lg">
          {{'Number of rooms' | translate}} 
          <span class="ml-1 text-xl text-black">
            {{item.rooms}}
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</p-galleria>
</div> -->