<div class="grid col-span-1 gap-14 md:flex justify-around mt-40 pl-3 md:px-36 animation-duration-1000 animation-ease-in-out">
  <div class="relative flex items-center gap-7 w-72 h-24 bg-opacity-15 bg-red-400 rounded-xl">
    <div class="bg-transparent text-orange-500 text-4xl font-sans font-extrabold pl-7">
      34
    </div>

    <div class="text-lg font-semibold">
      {{'Buildings' | translate}} <br>
      {{'Finished Now' | translate}}
    </div>

    <div class="absolute -right-4 -top-4 size-14 rounded-full bg-orange-600">

    </div>
  </div>
  
  <div class="relative flex items-center gap-7 w-72 h-24 bg-opacity-15 bg-red-400 rounded-xl">
    <div class="bg-transparent text-orange-500 text-4xl font-sans font-extrabold pl-7">
      12
    </div>

    <div class="text-lg font-semibold">
      {{'Years' | translate}} <br>
      {{'Experience' | translate}}
    </div>

    <div class="absolute -right-4 -top-4 size-14 rounded-full bg-orange-600"> 

    </div>
  </div>
</div>