<div>
  <footer class="flex justify-between px-3 items-center bg-gray-800 text-white py-4">
    <div class="flex flex-col gap-2">

      <div class="flex items-center">
        <i class="pi pi-envelope mr-2"></i>
        <span>info&commat;company.com</span>
      </div>

      <div class="flex items-center">
        <i class="pi pi-phone mr-2"></i>
        <span>555-555-555</span>
      </div>

      <div class="flex items-center">
        
        <a class="transition-colors duration-300 hover:text-orange-400" href="https://www.google.com/maps/place/48+%E1%83%9A%E1%83%A3%E1%83%99%E1%83%90+%E1%83%90%E1%83%A1%E1%83%90%E1%83%97%E1%83%98%E1%83%90%E1%83%9C%E1%83%98%E1%83%A1+%E1%83%A5%E1%83%A3%E1%83%A9%E1%83%90,+%E1%83%91%E1%83%90%E1%83%97%E1%83%A3%E1%83%9B%E1%83%98/@41.6461181,41.6354086,271m/data=!3m1!1e3!4m6!3m5!1s0x40678615b9146c25:0x86255d7f1f787f0c!8m2!3d41.6461472!4d41.636516!16s%2Fg%2F11lfd1_rwv?entry=ttu">
          <i class="pi pi-map mr-2"></i>
          <span>{{'48 of Luka Asatiani'| translate}}</span>
        </a>
      </div>
    </div>

    <div class="flex flex-col items-center gap-1">
      <div>
        &copy; 2024 - {{'All rights reserved' | translate}}
      </div>

      <div>
        {{'Developed by'| translate}} <a class="transition-colors duration-300 hover:text-orange-400" href="https://www.linkedin.com/in/rezo-alikadze-780520259/" target="_blank" rel="noopener noreferrer">{{'Rezo Alikadze'| translate}}</a>
      </div>
    </div>
    
    <div>
      <a href="https://www.facebook.com/profile.php?id=100050682506187" target="_blank" rel="noopener noreferrer">
        <i class="pi pi-facebook cursor-pointer transition-colors duration-300 hover:text-orange-400" style="font-size: 25px;"></i>
      </a>
    </div>
  </footer>
</div>