<div [@fadeInOut] class="w-full flex gap-8 items-center justify-between px-10 shadow-md h-[82px] bg-white transition-all duration-300">
  <div (click)="navigateToHome()" class="cursor-pointer">
    <img
      class="w-28 h-28 object-contain" 
      src="assets/images/452377664_988691489496925_3438030518400011853_n-removebg-preview.png" 
      alt="LOGO"
    >
  </div>

  <div class="hidden md:flex">
    <ul class="flex gap-x-5">
      <li (click)="navigateToHome()" class='py-3 px-3 cursor-pointer text-slate-700 transition-colors duration-300 hover:text-orange-500'>
        <a class='font-medium'>
          {{'Home'| translate}}
        </a>
      </li>
      <li id="authed" class='py-3 px-3 cursor-pointer  text-slate-700 transition-colors duration-300 hover:text-orange-500'>
        <a class='font-medium '>
          {{'Projects'| translate}}
        </a>
      </li>
      <li class='py-3 px-3 cursor-pointer text-slate-700 transition-colors duration-300 hover:text-orange-500'>
        <a class='font-medium '>
          {{'About'| translate}}
        </a>
      </li>
      <li (click)="navigateToContact()" class='py-3 px-3 cursor-pointer text-slate-700 transition-colors duration-300 hover:text-orange-500'>
        <a class='font-medium '>
          {{'Contact'| translate}}
        </a>
      </li>
    </ul>
  </div>
  
  <div>
    <app-select-language></app-select-language>
  </div>
</div>