<p-toast life="1500"/>

<div class="w-full mainContainer flex gap-8 items-center justify-between px-10 shadow-md h-[82px] bg-white transition-all duration-300">
  <div (click)="navigateToHome()" class="cursor-pointer">
    <img
      class="size-[130px] object-contain" 
      src="assets/images/452377664_988691489496925_3438030518400011853_n-removebg-preview.png" 
      alt="LOGO"
    >
  </div>

  <div class="hidden md:flex">
    <ul class="flex gap-x-5">
      <li 
        (click)="navigateToHome()" 
        class='py-3 px-3 cursor-pointer text-slate-700 transition-colors duration-300 hover:text-orange-500'
        [ngClass]="{'active': isActive('/'), 'hover:text-orange-500': !isActive('/')}"
      >
        <a class='font-medium'>
          {{'Home'| translate}}
        </a>
      </li>
      <li 
        (click)="navigateToProject()" 
        id="authed" 
        class='py-3 px-3 cursor-pointer  text-slate-700 transition-colors duration-300 hover:text-orange-500'
        [ngClass]="{'active': isActive('/project/all'), 'hover:text-orange-500': !isActive('/project/all')}"
      >
        <a class='font-medium '>
          {{'Projects'| translate}}
        </a>
      </li>
      <li 
        (click)="navigateToAbout()"
        class='py-3 px-3 cursor-pointer text-slate-700 transition-colors duration-300 hover:text-orange-500'
        [ngClass]="{'active': isActive('/about'), 'hover:text-orange-500': !isActive('/about')}"

      >
        <a class='font-medium '>
          {{'About'| translate}}
        </a>
      </li>
      <li 
        (click)="navigateToContact()" 
        class='py-3 px-3 cursor-pointer text-slate-700 transition-colors duration-300 hover:text-orange-500'
        [ngClass]="{'active': isActive('/contact'), 'hover:text-orange-500': !isActive('/contact')}"
      >
        <a class='font-medium '>
          {{'Contact'| translate}}
        </a>
      </li>
    </ul>
  </div>

  
  <div class="flex gap-4 items-center">
    
    <div class="hidden md:block">
      @if (isAuthenticated) {
        <p-button
         label="{{'Logout'| translate}}"
          type="button"
          styleClass="w-28 text-[15px] p-button-outlined p-button-rounded bg-red-500 text-white p-button-sm p-button-secondary transition-colors duration-300 hover:bg-red-600"
          (onClick)="logout($event)" label="Save"
        />
      } @else {
        <p-button
        (onClick)="navigateToAuth()"
        label="{{'Admin'| translate}}"
        type="button"
        styleClass="w-28 text-[15px] p-button-outlined p-button-rounded p-button-sm p-button-secondary transition-colors duration-300 hover:bg-orange-200"
        />
      }
      
    </div>

    <app-select-language></app-select-language>
  </div>

  <div class="card flex md:hidden justify-content-center">
    <p-button (onClick)="menu.toggle($event)" >
      <i class="pi pi-bars"></i>
    </p-button>
    <p-tieredMenu #menu [model]="items" [popup]="true" />
  </div>

</div>

<p-confirmPopup #confirmPopup>
  <ng-template pTemplate="headless" let-message let-test>
      <div class="border-round p-3">
          <span>{{ message.message }}</span>
          <div class="flex align-items-center gap-2 mt-3">
              <p-button (onClick)="accept()" label="{{'Confirm' | translate}}" size="small" />
              <p-button (onClick)="reject()" label="{{'Cancel' | translate}}" [outlined]="true" size="small" />
          </div>
      </div>
  </ng-template>
</p-confirmPopup>
