<div class="h-[3950px] md:h-auto pb-40 pt-24 px-3 md:px-32 bg-slate-100 relative overflow-x-hidden">
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-28 gap-y-16">


    @if (areProjectsLoading) {
      <div>
        <p-skeleton
          width="30rem"
          height="20rem"
          borderRadius="16px"
          styleClass="mb-3"
        />
      
        <p-skeleton
          width="30rem"
          height="2rem"
          styleClass="mb-3"
        />
      
        <p-skeleton
          width="30rem"
          height="3rem"
          styleClass="mb-3"
        />
      
        <p-skeleton
          width="30rem"
          height="2rem"
          borderRadius="16px"
          styleClass="mb-3"
        />
      </div>

      <div>
        <p-skeleton
          width="30rem"
          height="20rem"
          borderRadius="16px"
          styleClass="mb-3"
        />
      
        <p-skeleton
          width="30rem"
          height="2rem"
          styleClass="mb-3"
        />
      
        <p-skeleton
          width="30rem"
          height="3rem"
          styleClass="mb-3"
        />
      
        <p-skeleton
          width="30rem"
          height="2rem"
          borderRadius="16px"
          styleClass="mb-3"
        />
      </div>
    }

    @for (project of projects; track $index) {
      <div 
        class="card-container bg-transparent rounded-xl overflow-hidden group relative cursor-pointer pb-3"
        (click)="navigateToProject(project.id)"
      >

        <div class="absolute left-0 top-0 h-full w-[9px] bg-gray-300 z-30"></div>
        <!-- Orange line (animated) -->
        <div class="absolute left-0 bottom-0 h-0 w-[9px] bg-orange-400 transition-all duration-1000 group-hover:h-full z-40"></div>

        <div class="card-image-container overflow-hidden">
          
          <img 
            src="{{project.images[0]}}"
            alt="{{project.name}}"
            class="card-image !max-h-96 transform transition-transform duration-500 group-hover:scale-105"
          >
        </div>

        <div class="ml-4">
          @if (project.type === 'offered') {
            <div class="absolute top-4 right-4">
              <p-tag
                styleClass="px-3 py-1 text-sm"
                severity="info"
                [rounded]="true"
                value="{{'Offered' | translate}}"
              />
            </div>
          } @else {
            <div class="absolute top-4 right-4">
              <p-tag
                styleClass="px-3 py-1 text-sm"
                severity="success"
                [rounded]="true"
                value="{{'Ended' | translate}}"
              />
            </div>
          }
        </div>

        <div class="ml-3 text-slate-800 text-3xl font-bold mt-8">
          <h3>{{project.name}}</h3>
        </div>

        @if (project.type === 'offered') {
          <div class="ml-3 text-slate-700 my-8">
            <div>შეთავაზებული თანხა: {{project.offeredPrice}}₾</div>
          </div>
        } @else {

          <div class="ml-3 text-slate-700 my-8">
            <div>{{'Start Date' | translate}}: {{project.startDate | date: 'MMM yyyy'}} </div>
            <div>{{'End Date' | translate}}: {{project.endDate | date: 'MMM yyyy'}}</div>
          </div>
        }

        <div class="ml-3 text-slate-700">
          {{'Total Flat Space' | translate}}: {{project.flatSpace}} <span class="-ml-0.5">{{'m' | translate }}<sup>2</sup></span> 
        </div>
      </div>
    }
  </div>

  <div class="mt-24 relative">  
    <p-paginator
      styleClass="rounded-2xl"
      (onPageChange)="onPageChange($event)"
      [rows]="rows"
      [first]="first"
      [totalRecords]="totalRecords"
    />

    <div class="absolute -top-14 right-2 md:top-2 md:right-36">
      <p-dropdown 
        [options]="filterOptions"
        [(ngModel)]="selectedFilter" 
        (onChange)="onFilterChange()" 
        styleClass="bg-slate-50"
        placeholder="{{'Select Filter' | translate}}"
      />
    </div>
  </div>
  
  @if (isAuthenticated) {
    <div class="absolute top-7 right-5">
      <p-button 
        (onClick)="showDialog()" 
        label="{{'Add new project' | translate}}"
      />
    </div>
  }

</div>

<p-dialog 
  header="{{'Add new project' | translate}}" 
  [modal]="true" 
  [(visible)]="visible" 
  styleClass="w-[600px]"
  [draggable]="false"
>
  <app-add-project
    (projectAdded)="onProjectAdded($event)"
  />
</p-dialog>
