<div class="p-6 md:p-10 md:mx-14 mt-40 bg-gradient-to-r from-orange-100 to-orange-200 border border-orange-500 rounded-xl shadow-lg">
  <div class="text-2xl font-bold mb-6 text-gray-800">
    <h2>{{'Partner Companies' | translate}}</h2>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    @for (company of companies; track $index) {
      <div class="transition-transform transform hover:scale-105 hover:bg-orange-300 p-6 border border-orange-300 rounded-lg shadow-lg hover:shadow-xl">
        <h3 class="text-xl font-semibold text-gray-900 mb-3">{{ company.name }}</h3>
        <p class="text-gray-700">{{ company.description }}</p>
      </div>
    }
  </div>
</div>