<div class="h-auto pb-52 mt-10 flex flex-col gap-1 "> 

  <div class="h-[13rem] w-full mt-4 flex justify-center">
    <h1 id="company-name" class="text-6xl md:text-8xl font-extrabold text-gray-900 tracking-wide relative z-10">
      <span class="reveal mr-4 hover-effect">GMG</span>
      <span class="reveal mr-4 hover-effect">Arch</span>
      <span class="reveal hover-effect">group</span>
    </h1>
  </div>

  <app-home-info/>

  <app-carousel/>

  <app-featured/>
  
  <app-partner-companies/>
  
</div>